<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/backstyle.css}">
	<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/jquery.SuperSlide.js}" type="text/javascript"></script>
	<script type="text/javascript">
        $(function () {
            $(".sideMenu").slide({
                titCell: "h3",
                targetCell: "ul",
                defaultIndex: 0,
                effect: 'slideDown',
                delayTime: '500',
                trigger: 'click',
                triggerTime: '150',
                defaultPlay: true,
                returnDefault: false,
                easing: 'easeInQuint',
                endFun: function () {
                    scrollWW();
                }
            });
            $(window).resize(function () {
                scrollWW();
            });
        });
        let n;

        function scrollWW() {
            if ($(".side").height() < $(".sideMenu").height()) {
                $(".scroll").show();
                const pos = $(".sideMenu ul:visible").position().top - 38;
                $('.sideMenu').animate({top: -pos});
            } else {
                $(".scroll").hide();
                $('.sideMenu').animate({top: 0});
                n = 1;
            }
        }

        n = 1;

        function menuScroll(num) {
            const Scroll = $('.sideMenu');
            const ScrollP = $('.sideMenu').position();
            /*alert(n);
            alert(ScrollP.top);*/
            if (num === 1) {
                Scroll.animate({top: ScrollP.top - 38});
                n = n + 1;
            } else {
                if (ScrollP.top > -38 && ScrollP.top !== 0) {
                    ScrollP.top = -38;
                }
                if (ScrollP.top < 0) {
                    Scroll.animate({top: 38 + ScrollP.top});
                } else {
                    n = 1;
                }
                if (n > 1) {
                    n = n - 1;
                }
            }
        }
	</script>
	<title>后台首页</title>
</head>
<body>
<div class="top">
	<div id="top_t">
		<div class="fl" id="logo" style="font-size:30px;color:white;line-height:80px;text-indent:1em">后台管理</div>
		<div class="fr" id="photo_info">
			<div class="fl" id="photo">
				<a href="#"><img alt="" height="60" th:src="@{/image/a.png}" width="60"></a>
			</div>
			<div class="fr" id="base_info">
				<div class="help_info">
					<a href="1" id="hp">&nbsp;</a>
					<a href="2" id="gy">&nbsp;</a>
					<a href="3" id="out">&nbsp;</a>
				</div>
				<div class="info_center">
					admin
					<span id="nt">通知</span><span><a href="#" id="notice">3</a></span>
				</div>
			</div>
		</div>
	</div>
	<div id="side_here">
		<div class="fl" id="side_here_l"></div>
		<div class="fl" id="here_area">当前位置：</div>
	</div>
</div>
<div class="side">
	<div class="sideMenu" style="margin:0 auto">
		<h3>服务类别管理</h3>
		<ul>
			<li><a href="/type" target="right">类别</a></li>
		</ul>
		<h3> 服务区域管理</h3>
		<ul>
			<li><a href="/area" target="right">服务区域</a></li>
		</ul>
		<h3>企业管理</h3>
		<ul>
			<li><a href="/company" target="right">企业用户信息</a></li>
		</ul>
		<h3>服务管理</h3>
		<ul>
			<li><a href="/service" target="right">服务</a></li>
		</ul>
	</div>
</div>
<div class="main">
	<iframe allowtransparency="true" frameborder="no" height="auto" id="rightMain" name="right" scrolling="auto"
	        th:src="@{/type}"
	        width="100%"></iframe>
</div>
<div class="bottom">
	<div id="bottom_bg">版权</div>
</div>
<div class="scroll">
	<a class="per" href="javascript:" onclick="menuScroll(1);" title="使用鼠标滚轴滚动侧栏"></a>
	<a class="next" href="javascript:" onclick="menuScroll(2);" title="使用鼠标滚轴滚动侧栏"></a>
</div>
</body>

</html>